html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, section, footer, nav /*added*/
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body
{
    font: normal normal normal 14px / 18px "lucida grande" , "Segoe UI" , "Trebuchet" , verdana, sans-serif;
}

ol, ul
{
    list-style: none;
}

blockquote, q
{
    quotes: none;
}

/* remember to define focus styles! */
:focus
{
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins
{
    text-decoration: none;
}

del
{
    text-decoration: line-through;
}
/* tables still need 'cellspacing"0"' in the markup */
table
{
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    added functions
    */

.flt
{
    float: left;
}
.frt
{
    float: right;
}
.cls
{
    clear: both;
}
.NoDeco
{
    text-decoration: none;
}
.half-high
{
    height: 50%;
}
.half-wide
{
    width: 50%;
}
.disib
{
    display: inline-block;
}
.hid
{
    display: none;
}
.blk
{
    display: block;
}
.inl
{
    display: inline;
}
.inv
{
    visibility: hidden;
}
.vis
{
    visibility: visible;
}
.mar1Elr
{
    margin-left: 1em;
    margin-right: 1em;
}
.mar10
{
    margin:10px;
}
.mar10lr
{
    margin-left: 10px;
    margin-right: 10px;
}
.mar5lr
{
    margin-left:5px;
    margin-right: 5px;
}
.mar5tb
{
    margin-top:5px;
    margin-bottom:5px;
}
.pad5
{
    padding:5px;
}
.pad5-10
{
    padding: 5px 10px;
}
.pad10
{
    padding: 10px;
}
.pad10tb
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad10lr
{
    padding-left:10px;
    padding-right:10px;
}
.pad30
{
    padding:30px;
}
.center
{
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.halved
    {
        zoom:0.50;
    }
    .athird
    {
        zoom:0.3;
    }
    
    
.a-bit-dark-box
{
    background-color:#eeeeee;
}    

.pointer
{
    cursor:pointer;
}

.lh2
{
    line-height:2;
}

.mid-center
{
    text-align:center;
    vertical-align:middle;
    line-height:1;
    margin:auto;
}

.abspos
{
    position:absolute;
}

.fixpos
{
    position:fixed;
}

.br-jack
{
    box-shadow:3px 3px 3px 0 #aaa;
}
.whitelit
{
    background-color:White;
}

.SexyWhiteBox
{
    background-color:White;
    border-radius:7px;
    box-shadow:3px 3px 3px 0 #aaa;
}
@-webkit-keyframes ReachedViaLocationHashRotate
{
   from { -webkit-transform: rotate(0deg);}
   to{ -webkit-transform: rotate(360deg);}
}
@-ms-keyframes ReachedViaLocationHashRotate
{
   from{-ms-transform: rotate(0deg);}
   to{ -ms-transform: rotate(360deg);}
}
@-moz-keyframes ReachedViaLocationHashRotate
{
   from{-moz-transform: rotate(0deg);}
   to{ -moz-transform: rotate(360deg);}
}
@-o-keyframes ReachedViaLocationHashRotate
{
    from{-o-transform: rotate(0deg);}
   to{ -o-transform: rotate(360deg);}
}
@keyframes ReachedViaLocationHashRotate
{
    from{transform: rotate(0deg);}
   to{ transform: rotate(360deg);}
}
.reachedViaLocationHash
{
    -webkit-animation:ReachedViaLocationHashRotate 2s linear 1;
    -moz-animation:ReachedViaLocationHashRotate 2s linear 1;
    -ms-animation:ReachedViaLocationHashRotate 2s linear 1;
    -o-animation:ReachedViaLocationHashRotate 2s linear 1;
    animation:ReachedViaLocationHashRotate 2s linear 1;
}
.top-taker
{
    top:12%;
    right:3%;
    padding:10px 20px;
    border-radius: 6px;
    border: thin solid #2F96B4;
    box-shadow: 1px 1px 1px 0 #2F96B4;
    background-color: #fff;
}
